body {
    background: #353535fc;
  }

  .custom-width {
    width: 100%;
    max-width: 1200px;
}

.table{
  border-radius: 10px;
  overflow: hidden;
}

.table th{
  font-size: 1.1rem;
}

.table th,
.table td{
  background-color: #272727fc;
  text-align: center;
}