body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #353535fc;
}

.custom-width {
  width: 100%;
  max-width: 1200px;
}

.table {
  border-radius: 10px;
  overflow: hidden;
}

.table th{
font-size: 1.1rem;
}

.table th,
.table td{
background-color: #292929fc;
}

footer{
  margin-top: auto;
  position: relative;
  height: 23vh;
  background-color: #222222;
  }
  
  .table2 td{
    padding: 0;
  background-color: #222222;
  }
