body {
  min-height: 100vh;
  background: #353535fc;
}

header{
height: 18vh;
background: linear-gradient(#2c2231,#710d9c);
}

.custom-container{
align-items: center;
justify-content: center;
}

.card-body{
background-color: #222222;
}

.card-footer{
background-color: #222222 !important;
}

.btn-secondary{
background-color: #710d9c;
border: none;
}

footer{
  margin-top: auto;
  position: relative;
  height: 23vh;
  background-color: #222222;
  }
  
  .table td{
    padding: 0;
  background-color: #222222;
  }
