body {
  background: #353535fc;
}

.custom-btn{
<<<<<<< Updated upstream
  border: none;
  background-color: #710d9c;
  color: #ffffff;
=======
border: none;
background-color: #710d9c;
color: #ffffff;
>>>>>>> Stashed changes
}